{% extends "base.html" %}
{% block title %}QBiC-Pred: Downloads{% endblock %}
{% block body %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/downloads.css') }}">
<script src="{{ url_for('static', filename='js/downloads.js') }}"></script>

<div class="modal-body">
  <h2>QBiC-Pred download page:</h2>
  <p>Download list of human TFs that have associated PBM data and OLS models (<a href="download/genelist.txt">.txt</a>)</p>
  <p>Download list of human TFs with the corresponding mappings to PBM data and OLS models: (<a href="download/mapping_aa_identity_cisbp_and_uniprobe.csv">.csv</a>)  </p>
  <p>Download all PBM data used to train QBiC OLS models (<a href="download/pbmdata.zip">.zip</a>)</p>
  <!--<p>Download list of all human TFs: file.txt</p>-->

  <p>See our source code at <a href="https://github.com/vincentiusmartin/QBiC-Pred" target="_blank"><img class="github_inline" src="/static/images/GitHub_Logo.png" /></a></p>
</div>


{% endblock %}
