{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<div class="modal-body">
  <h1>Welcome!</h1>

  <form method="post" enctype="multipart/form-data" id="predupload-form">
    <label>Already have a prediction file?</label>
    <input type=file class="form-control-file" name="predupload-file" />
    <button id="submit-pred" type="button" class="btn btn-sm btn-secondary">Submit</button>
  </form>
</div>

<div id="testing"></div>
<br />

{% endblock %}
