{% extends "base.html" %}
{% block title %}Make Prediction{% endblock %}
{% block body %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/makepred.css') }}">
<script src="{{ url_for('static', filename='js/makepred.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>

<div class="modal-body">
  <div class="container" id="input-form-wrapper">
    <form method="post" enctype="multipart/form-data" id="input-form">
      <div class="row">
        <div class="form-title"><span>DATA SUBMISSION FORM</span></div>
      </div>
      <div id="form-input">
        <div class="row form-elm">
          <div class="col-md-3">
            <label id="input-lbl-1" value="active">
                Upload mutation dataset:
            </label>
            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
              data-toggle="popover" data-placement="right" data-trigger="hover"
              data-content="Input a variant/mutation dataset (VCF format, icgc simple somatic mutation file, or any tsv/csv
                            with columns: chromosome, chromosome_pos, mutated_from, mutated_to. See About page for details.">
            </button>
            <input type=file class="form-control-file" name="input-file" id="input-file" />
            <input type="text" id="input-mode" value="1" name="input-mode" style="visibility: hidden;" readonly /> <!-- mark the input mode -->
          </div>
          <div class="col-md-1" id="filein-separator">
            <h3>OR</h3>
          </div>
          <div class="col-md-4">
            <label id="input-lbl-2" value="active">
                <button class="btn disabled-btn" value="2" type="button">
                    Select an example use case <br /> (this will fill all necessary fields):
                </button>
            </label>
            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
              data-toggle="popover" data-placement="right" data-trigger="hover"
              data-content="Select an example use case.">
            </button>
            <select id="examplelist" name="examplelist" class="selectpicker"></select>
            <br />
            <a id="download-input-select"></a>
          </div>
        </div>

        <div class="row form-elm">
          <div class="col-md-4">
            <label>Select TFs by families:</label>

            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
            data-toggle="popover" data-placement="right" data-trigger="hover"
            data-content="All TFs in the selected families will be selected. Modifications in this dropdown will be reflected in
                          the transcription factors dropdown.">
            </button>

            <select id="familylist" name="family-select" class="selectpicker" multiple data-live-search="true" data-actions-box="true"></select>
          </div>

          <div class="col-md-4">
            <label>Select transcription factors:</label>

            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
            data-toggle="popover" data-placement="right" data-trigger="hover"
            data-content="Select by TF names">
            </button>

            <select id="predlist" name="pred-select" class="selectpicker" multiple data-live-search="true" data-actions-box="true"></select>
            <br />
            <a id="download-tfs-select"></a>
          </div>

          <div class="col-lg-3">
            <label>Or upload a TF file: </label>

            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
            data-toggle="popover" data-placement="right" data-trigger="hover"
            data-content="Upload a file containing TF names separated by new lines. Input will automatically be added to
                          the TFs dropdown.">
            </button>

            <input type=file name="tf-file" id="tf-file"></input>
            <br />
            <a id="download-tffile-example" href="/download/tflist-example.txt">Download example TF file</a>
          </div>
        </div>

        <hr class="divider-line" />

        <div class="row form-elm">
          <div class="col-md-4 form-group">
            <label for="genomelist">Select a genome version:</label>

            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
            data-toggle="popover" data-placement="right" data-trigger="hover"
            data-content="For input files containing genomic coordinates, this version of the human genome
                          will be used.">
            </button>

            <select id="genomelist" name="genome-select" class="selectpicker">
              <option selected>hg19</option>
              <option>hg38</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="outputradio">Select the desired output:</label>

            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
            data-toggle="popover" data-placement="right" data-trigger="hover"
            data-content="Output will include, for each variant, either all TFs with p-value below the cutoff or
                          the top TF genes accroding to the largest absolute value of the normalized binding
                          difference (i.e. z-score).">
            </button>

            <div id="outputradio" name="output-select">
              <div class="radio">
                <input type="radio" name="optradio" value="2" checked="">&nbsp;p-value threshold </input>
              </div>
              <div class="radio">
                <input type="radio" name="optradio" value="1">&nbsp;largest absolute z-score </input>
              </div>
            </div>
          </div>

          <div class="col-md-4 output-col form-group">
            <label for="output-option" id="output-option">p-value cutoff:</label>
            <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
            data-toggle="popover" data-placement="right" data-trigger="hover"
            data-content="This represents the value that corresponds to the radio button on the left.">
            </button>
            <br />
            <div id="output-selection-wrapper" class="col-lg-6">
                <input class="form-control" type="text"
                 id="output-selection-opt" name="output-selection-opt"
                 value="0.0001" placeholder="input p-value cutoff" />
            </div>
          </div>
        </div> <!-- from row form-elm -->

        <hr class="divider-line" />

        <div class="row form-elm">
          <div class="col-md-4">
            <label for="job-name">Job name (optional)</label>
              <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
                data-toggle="popover" data-placement="right" data-trigger="hover"
                data-content="Job name for this prediction job.">
              </button>
            <br />
            <input type="text" class="form-group" id="job-name" name="job-name" placeholder="Enter job name">
          </div>

          <div class="col-md-4">
            <label for="email-name">Email address (optional)</label>
              <button type="button" class="btn btn-sm btn-primary-outline far fa-question-circle help-icon"
                data-toggle="popover" data-placement="right" data-trigger="hover"
                data-content="Will be used to give notification about the job status.">
              </button>
            <br />
            <input type="text" class="form-group" id="email-name" placeholder="Enter your email (optional)">
          </div>
        </div>

      </div>

      <div id="upload-form">
        <button id="submit-job" type="button" class="btn btn-primary">Submit</button>
      </div>
      <span class="text-danger" role="alert" id="upload-msg"></span>
    </form>
  </div>

  <div class="row example-input">
    <div class="col-md-2">Download input files:</div>
    <div class="col-sm-1">
        <a href="/download/icgc-example.tsv">
          ICGC
        </a>
    </div>
    <div class="col-sm-1">
        <a href="/download/vcf-example.vcf">
          VCF
        </a>
    </div>
  </div>
</div>

<br />

{% endblock %}
