# Ignore build and env files
__pycache__
venv
*.pyc

# Ignore resource directory for now
resource
predictions

# Ignore local file
README.txt
qbic-conf.ini

# anything testfiles
generate_prediction/test*

# Need to ignore this mac-specific file as well
.DS_Store
