[Debug]
# Enable Flask's debugging features. Should be False in production
DEBUG = True

[Celery Conf]
# Celery related configurations
CELERY_BROKER_URL = redis://localhost:6379/0
# important to track result
CELERY_RESULT_BACKEND = redis://localhost:6379/0
#CELERYD_TASK_SOFT_TIME_LIMIT = 60

[Flask Conf]
# max upload size = 32 * 1024 * 1024
MAX_CONTENT_LENGTH = 33554432
#cpu.count
PCOUNT = 1

[Directory Setting]
PREDDIR = /Users/vincentiusmartin/Research/MutationPredictor/QBiC-Pred/preddir
UPLOAD_FOLDER = /tmp/
CHRDIR = /Users/vincentiusmartin/Research/MutationPredictor/QBiC-Pred/chromosomes
ESCORE_DIR = /Users/vincentiusmartin/Research/MutationPredictor/QBiC-Pred/escore/escore
PBM_HUGO_MAPPING = resource/pbmtohugo.txt
HUGO_PBM_MAPPING = resource/hugotopbm.txt

[User Session]
USER_DATA_EXPIRY = 3600
