body{
  padding-top: 60px; /* need to do this to avoid overlap with navbar */
  background-color:#f8f9fb;
}

@font-face {
  font-family: Raleway;
  src: url('raleway-regular.ttf');
}

body *{
    font-family: Raleway;
}

html,body {
    height: 100%;
}



.navbar-nav > li > a {
  color: black !important;

}

.qbic-nav{
  border-bottom:2px solid #e6e6e6;
  padding-bottom:10px;
}

.qbic-body{
  background-color:white;
}
