.slideshow-img{
  height:350px;
}

.blue-text{
  color:#33adff;
}

.index-button-text{
  font-size:12px;
}

.home-banner{
  font-family:Luthier;
}

#carousel-qbic-index .carousel-caption {
    text-align: center;
    left:25%;
    max-width: 500px;
      /*top: auto;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
