.slideshow-img{
    width:400px;
    height:350px;
}

.blue-text{
  color:#33adff;
}

.index-button-text{
  font-size:12px;
}

/*
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}
*/

#carousel-qbic-index .carousel-caption {
    text-align: center;
    left:25%;
    max-width: 500px;
      /*top: auto;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
