#left-col-main {
  border-right: 2px solid;
}

#upload-form{
  display: inline-block;
}

#upload-msg{
  padding-left:10px;
}

#input-form-wrapper{
  border:2px solid #e6e6e6;
  background-color: #f2f2f2;
  padding-bottom:3%;
}

#filein-separator{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  color:#e04619;
}

.grey-download{
  color:gray;
  text-decoration: underline;
}

.disabled-btn{
  text-align: justify;
  padding-left:0px;
  color:gray;
  text-decoration: underline;
}

.disabled-btn:hover{
    color:black;
}

.example-input{
    padding-top:1%;
}

.example-content{
    padding-top:0px;
}

.help-icon {
  background-color:transparent;
  display:inline-block;
  position:absolute;
}

.help-icon:hover {
  color: blue;
}

.divider-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0px 10px -15px;
}

.popover {
  background: #e8f6f3  ;
}

.popover.left .arrow:after {
  border-left-color: #e8f6f3  ;
}

.text-hr {
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #e6e6e6;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding-top: 25px;
}

.text-hr span {
  background:#f2f2f2;
  padding-right:10px;
  font-weight: bold;
}

.form-elm {
  margin-top:10px;
}

.adv-opt {
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  text-align: left;
}

form label {
  font-weight:bold;
}
