{% extends "base.html" %}
{% block title %}QBiC-Pred: Downloads{% endblock %}
{% block body %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/downloads.css') }}">
<script src="{{ url_for('static', filename='js/downloads.js') }}"></script>

<div class="modal-body">
  <h2>QBiC-Pred download page:</h2>
  <p>Download list of human TFs that have associated PBM data and OLS models (<a href="download/QBiC_gene_names_for_supported_TFs.txt">.txt</a>)</p>
  <p>Download list of human TFs with the corresponding mappings to PBM data and OLS models: (<a href="download/QBiC_mapping_577_TFgenes_to_666_uPBM_datasets.csv">.csv</a>)  </p>
  <p>Download all PBM data used to train QBiC OLS models (<a href="download/pbmdata.zip">.zip</a>)</p>
  <!--<p>Download list of all human TFs: file.txt</p>-->

  <p>
  Download our 12-mer prediction tables:
  <a href="download/predzip/prediction_1.zip">part-1</a>
  <a href="download/predzip/prediction_2.zip">part-2</a>
  <a href="download/predzip/prediction_3.zip">part-3</a>
  <a href="download/predzip/prediction_4.zip">part-4</a>
  <a href="download/predzip/prediction_5.zip">part-5</a>
  <a href="download/predzip/prediction_6.zip">part-6</a>
  <a href="download/predzip/prediction_7.zip">part-7</a>
  <a href="download/predzip/prediction_8.zip">part-8</a>
  <a href="download/predzip/prediction_9.zip">part-9</a>
  <a href="download/predzip/prediction_10.zip">part-10</a>
  <a href="download/predzip/prediction_11.zip">part-11</a>
  <br />
  Download our 12-mer p-value tables:
  <a href="download/predpval/predpval_1.zip">part-1</a>
  <a href="download/predpval/predpval_2.zip">part-2</a>
  <a href="download/predpval/predpval_3.zip">part-3</a>
  <a href="download/predpval/predpval_4.zip">part-4</a>
  <a href="download/predpval/predpval_5.zip">part-5</a>
  <a href="download/predpval/predpval_6.zip">part-6</a>
  <a href="download/predpval/predpval_7.zip">part-7</a>
  <a href="download/predpval/predpval_8.zip">part-8</a>
  <a href="download/predpval/predpval_9.zip">part-9</a>
  <a href="download/predpval/predpval_10.zip">part-10</a>
  <a href="download/predpval/predpval_11.zip">part-11</a>
  <br />
  (Please check the <a href="{{ url_for('about') }}">about page</a> to learn about our 12-mer tables.)
  </p>

  <p>See our source code at <a href="https://github.com/vincentiusmartin/QBiC-Pred" target="_blank"><img class="github_inline" src="/static/images/GitHub_Logo.png" /></a></p>
</div>


{% endblock %}
