body{
  padding-top: 50px; /* need to do this to avoid overlap with navbar */
}

@font-face {
  font-family: Raleway;
  src: url('raleway-regular.ttf');
}

body *{
    font-family: Raleway;
}

html,body {
    height: 100%;
}



.navbar-nav > li > a {
  color: white !important;

}
