#ressearch {
  float:right;
}

.bolded-red {
  color: red;
  font-weight: bold;
}

.left-content {
  border: 1px solid;
  padding:10px 10px 10px 10px;
  //border-color:  #D3D3D3;
}

.indata-text{
  margin:0;
}

/*.form-inline .form-group {
  margin-right:40px;
}*/
